*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid;
    transition: 0.6s;
    margin-top: 10px;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: white;
    color: black;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%;-50%);
}
.title{
    font-family: sans-serif;
    color: white;
    font-size: 50px;
}
.button{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%;-50%);
}
.btn1{
    font-family: serif;
    font-size: 20px;
    border: 1px solid;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 5px;
    margin: 10px;
}
.btn1:hover{
    background: white;
    color: black;
}
.btn2{
    font-family: serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid;
    transition: 0.6s ease;
    border-radius: 5px;
    margin: 10px;
}
.btn2:hover{
    background: white;
    color: black;
}